@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-size:16px;
  color:#c6d5ec;
  background: linear-gradient(to bottom right, rgb(24,61,133) 0%, #000215 100%);
}
a{
   color: white;
   text-decoration: none;
}


/* ================ navigation ============= */

.nav{
   color:rgba(255,255,255, 0.6);
   display:flex;
   align-items:center;
   text-decoration: none;
   padding-top: 7px;
   padding-bottom:7px;
   transition: all 300ms;
   text-transform: uppercase;
}

.nav svg{
  margin-right:8px;
}
.line{
  display:block;
  width: 10px;
  height:1px;
  background:rgba(255,255,255,0.6);
  margin-right:2px;
  transition: all 300ms;
}
.nav:hover,
.nav.action{
  color:rgba(255,255,255,1);
  font-weight:600px;
}
.nav:hover .line,
.nav.action .line{
  width:50px;
}
.imgbox{
  margin-top:60px;
  opacity:0.7;
  text-align:center;
}
.imgbox img{
  max-width:80%;
}

/*================== ABOUT ===============*/
#about, #story, #projects{
   padding:130px 10px;
}
#about h1,
#story h1,
#projects h1{
   font-size:1.2rem;
   font-weight:700;
   text-transform: uppercase;
}
#about>p,
#story>p,
#projects>p{
   font-size:0.9rem;
}
#about .aboutbox {
   margin-top:50px;
}

.aboutbox h2,
.storybox h2{
   color:rgb(122, 156, 224);
   font-size:1.2rem;
}
.aboutbox p,
.storybox p{
   color:#fff;
   font-size:0.9rem;
   font-weight:300;
   margin-top:20px;
}

.storybox{
   padding:40px;
   margin-top:50px;
   margin-bottom:50px;
   background-color:rgba(255,255,255,0.05);
   border-radius:5px; 
   position: relative;
}

.storybox {
  box-shadow: inset 0px 5px 10px 0px rgba(255, 255, 255, 0.05);
  transition: all 300ms;
}

.storybox:hover {
  transform: translateY(5px);
  box-shadow: inset 0px 10px 20px 2px rgba(255, 255, 255, 0.1);
}  

/*========= PROJECTS =============*/
.project{
   margin-top:70px;
   font-weight:300;
}
.project li span:not(:last-child)::after{
   content: " , ";
}
.project h2{
  font-size:18px;
  display:inline-block;
  padding:10px 20px;
  background:rgba(255,255,255,.09);
  margin-bottom:30px;
}
.project label{
  font-weight:500;
  margin-right:20px;
}
.project label:after{
  content:" : ";
}
.project li{
   padding-top:5px;
   padding-bottom:5px;
}
.firstpr{
   padding-left:30px;
}
.firstpr h3{
   font-size:18px;
   display:inline-block;
   padding-bottom:4px;
   border-bottom: 3px double rgba(255,255,255,.5);
}


.pflinks:hover{
   font-weight: 700;
}

.gitlinks{
   font-size: 35px;
   margin-left: 20px;
}